---
layout: default
sponsor: yes
title: Hello
---
<div class="beneath-sections jumbotron fond__white">
    <div class="row">
        <div class="container text__black">
            <div class="col-lg-10 col-lg-offset-1 section-intro">
                <h2 class="section-headline">Digital ist besser! </h2>
                <p>
                   Die Demokratielabore sind ein Modellprojekt der <a class="highlight-grey" href="https://okfn.de">Open Knowledge Foundation Deutschland</a>, das vom <a class="highlight-grey" href="http://www.bmfsfj.de">Bundesministerium f&uuml;r Familie, Senioren, Frauen und Jugend</a> im Rahmen des Bundesprogramms <a class="highlight-grey" href="http://www.demokratie-leben.de/">Demokratie leben!</a> gef&ouml;rdert wird. </br>
                   <br> Wir f&uuml;hren verschiedene Workshop- und Aktionsformate mit Jugendlichen im Alter von 12 bis 21 Jahren rund um Digitalisierung, Technologien und gesellschaftliches Miteinander durch. Dazu arbeiten wir sowohl eng mit außerschulischen Jugendeinrichtungen als auch &uuml;berregionalen Jugendverb&auml;nde und Initiativen zusammen – deutschlandweit. </br>

                </p>
                <div class="btn-wrap">
                    <a href="/projekt"><button  class="btn btn-start color-1">Mehr erfahren!</button> </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="jumbotron workshop-background">
        <div class="row">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1 section-workshop">
                        <h2 class="section-headline">Workshops, Workshops, Workshops</h2>
                        <p>
                            Jugendliche können sich in unseren Workshops in Nachrichtenredaktionen verwandeln, lernen wie man den öffentlichen Raum positiv einnimmt oder Cybertrolle mit Argumenten zu besiegt.
                        </p>
                </div>
            </div>
            <div class="post-teaser-wrap">
                <div class="row">
                    {% assign workshops = site.workshops | where:"featured",true %}
                    {% for workshop in workshops limit:3 %}
                    {% assign post = workshop %}
                    <div class="col-xs-12 col-md-4 post-teaser">
                        {% include workshop-teaser-tile.html post=post %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="btn-wrap">
            <a href="/workshops"><button  class="btn btn-start color-2">Zur Workshopübersicht</button> </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="jumbotron background-white">
        <div class="row">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1 section-workshop">
                    <h2 class="section-headline">Neues, News und Neuigkeiten</h2>
                </div>
            </div>
            <div class="post-teaser-wrap">
                <div class="row">
                    {% for post in site.posts limit:2 %}
                    {% assign url=post.url |replace_first:'/','' %}
                    <div class="col-xs-12 col-md-6 post-teaser">
                        {% include post-teaser-tile.html post=post %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="btn-wrap">
            <a href="/blog"><button  class="btn btn-start color-2">Alle Blogbeiträge ansehen</button> </a>
        </div>
    </div>
</div>
{% include newsletter-form.html %}
