---
layout: base
title: "Mitmachen!"
hide_hero: true
---


<!-- About -->

<div class="parallax"></div>
</div>

<div class="row">
    <div class="col-xs-12 fond__white jumbotron">
        <div class="row">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="section-headline text-center">Wer kann bei den Demokratielaboren mitmachen?</h1>
                    <p class="text-center">
                       Wir richten uns hauptsächlich an <a class="highlight-grey" href="#Jugendliche">Jugendliche</a>. Für die Unterstützung von Jugendlichen bieten wir aber ergänzend Angebote für
                        <a class="highlight-grey" href="#Jugendeinrichtung">Jugendeinrichtungen</a> und 
                        <a class="highlight-grey" href="#Jugendverband">Pädagogische Fachkräfte in der Kinder- und Jugendarbeit</a>
                    </p>
                     <img  class="img-responsive" src="/static/img/mitmachen-start.png" alt="Wimmelbild CC BY-SA 4.0">
                </div>
            </div>
        </div>
    </div>
<div class="parallax"></div>
    <div class="col-xs-12 fond_green_gradient jumbotron" id="Jugendliche">
        <div class="row">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text__white">
                    <h2 class="section-headline">Für Jugendliche</h2>
                    <p class="text">
                        Du hast Lust dir unsere Workshops anzuschauen und Lust an ihnen teilzunehmen? Nice! Es gibt mehrere Möglichkeiten: Schau am besten erstmal auf unserer Startseite oder unter Workshops, ob wir bald in deiner N&auml;he sind. Falls nicht, frag einfach mal in einer Jugendeinrichtung deiner N&auml;he, ob sie uns einladen wollen oder schreib uns auf Instagram, Facebook oder Twitter an. Wenn du eine Mailadresse hast, kannst du uns natürlich auch eine <a class="highlight-white" href="mailto:info@demokratielabore.de">Mail schreiben.</a> Wir probieren dann in einer Einrichtung deiner N&auml;he etwas zu organisieren.
                    </p>
                    <p>
                        Außerdem produzieren wir einen Youtube-Channel, auf dem du dich regelm&auml;ßig über netzpolitische Themen informieren kannst. <a class="highlight-white" href="https://www.facebook.com/aboutblankvideo/">Schau mal vorbei.</a>
                   </p>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="beneath-sections jumbotron fond__white" id="Jugendeinrichtung">
    <div class="container text__black">
        <div class="col-lg-8 col-lg-offset-2">
            <h2 class="section-headline">Für Jugendeinrichtungen</h2>
                <p>
                    <b>Schritt 1:</b> <br>
                    Schreibt uns eine <a class="highlight-grey" href="mailto:info@demokratielabore.de">Mail</a>, wir melden uns bei euch.  
                </p>
                <p>
                    <b> Schritt 2:</b> <br>
                    Gemeinsam w&auml;hlen wir in pers&ouml;nlichen Gespr&auml;chen die Workshop- und Aktionsformate aus, die ihr kennenlernen und in eurer Einrichtung anbieten m&ouml;chtet. Im Anschluss vereinbaren wir die Fortbildungs- und Durchf&uuml;hrungstermine. 
                 </p>
                <p>
                    <b>Schritt 3: </b> <br>
                    Wir kommen euch in eurer Einrichtung besuchen, um  euch und engagierte Jugendliche im Sinne eines Train-the-Trainer-Konzepts zu den ausgew&auml;hlten Workshops zu schulen. Amm darauffolgenden Tag findet die erste Durchf&uuml;hrung mit den Jugendlichen statt. Unsere Formate sollen kein einmaliges Erlebnis bleiben: Bei einer zweiten Durchf&uuml;hrung in eurer Einrichtung stehen wir euch deshalb gerne zur Seite und k&ouml;nnen euch f&uuml;r weitere Durchl&auml;ufe sowohl umfangreiche Materialien  als auch finanzielle Unterst&uuml;tzung anbieten.         
                </p>
                <p>
                    <b>Wie geht es dann weiter? </b> <br>
                    Wenn ihr m&ouml;gt, helfen wir euch im weiteren Verlauf dabei das Workshopthema zu vertiefen. Dies kann durch das Einrichten einer Arbeitsgruppe, durch die Bereitstellung von Selbstlernmaterialien oder durch die Anbindung an bestehende Tech-Communities, zum Beispiel den <a class="highlight-white" href="https://codefor.de/">OK Labs der Open Knowledge Foundation</a>, geschehen. Auch hierf&uuml;r stehen wir euch jederzeit pers&ouml;nlich und mit finanziellen Mitteln zur Verf&uuml;gung.         
                </p>
            </div>
        </div>
    </div>
</div>
<div class="parallax"></div>
 <div class="beneath-sections jumbotron fond__grey-bright" id="Jugendverband">
    <div class="container text__black">
        <div class="col-lg-8 col-lg-offset-2 ">
            <h2 class="section-headline" > Für Fachkräfte in der Jugendarbeit</h2>
            <p class="text">
                Wir wollen mit Euch herausfinden: Wie k&ouml;nnen Tr&auml;ger ihre interne Arbeitsorganisation mit digitalen Tools und Technologien effektiver machen? Wie werden sie selbst als Akteure im außerschulischen Bildungsbereich sichtbarer? In unserem zweit&auml;gigen Workshop zeigen wir euch wie ihr mehr aus Daten machen k&ouml;nnt. Zus&auml;tzlich beraten wir gemeinn&uuml;tzige Organisationen, wie sie ihre digitalen F&auml;higkeiten vertiefen und aufbauen k&ouml;nnen. <br> 
            </p>
            <div class="btn-wrap">
                <a href="/angebot/schulung/"><button  class="btn btn-start color-2">Erfahrt mehr zu Schulungen</button> </a>
            </div>
       </div>
    </div>
 </div>

</div>

<div class="col-xs-12 fond_darkblue_gradient jumbotron">
    <div class="row">
        <div class="container">
            <div class="col-lg-10 col-lg-offset-1 section-workshop text__white">
                <h2 class="section-headline">Unsere Angebote</h2>
                <p>
                    Neben Workshops bieten wir noch weitere Angebebote für Jugendliche und Jugendeinrichtungen an, um unser Wissen auf allen Ebenen weiterzugeben.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="isotope-wrap">
                <div class="grid-sizer col-xs-12 col-md-6 col-lg-4"></div>
                {% assign sortedAngebote = site.angebote | sort: 'title' %}
                {% for angebot in sortedAngebote %}
                    {% assign post = angebot %}
                    <div class="col-xs-12 col-md-6 col-lg-4 isotope-item post-teaser">
                        {% include angebote-teaser-tile.html post=post %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

