<div class="post-teaser-inner">
    <a href="{{post.link}}">
        <img src="{{post.img}}" class="img-responsive" />
    </a>
    <div class="post-teaser-content angebot">
        <h3 class="post-teaser-title" >{{ post.title }}</h3>
        <div class="post-teaser-description angebot">
            <p>
                {{ post.an_teaser | remove: '<p>' | remove: '</p>'}}
            </p>
            <a class="post-teaser-read-more" href="{{post.link}}">zum Angebot</a>
        </div>
    </div>
</div>


