<div class="filter-items green">
  <h4 class="filter-items-headline">NACH KATEGORIE FILTERN:</h4>
  <div class="filter-items-inner col-xs-24">
      <a href="/" data-filter=".thema" class="filter-item red">Themen</a>
      <a href="/" data-filter=".tool" class="filter-item">Tools</a>
  </div>
</div>
