<footer>
    <div class="jumbotron fond__white partner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Ein Projekt von</h3>
                    <div class="col-lg-3">
                        <a href="http://www.okfn.de/">
                            <img class="img-responsive logo-okf" src="/static/img/OKFN.png" alt="OKFN Logo"/>
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="http://bmfsfj.de/">
                            <img class="img-responsive logo-bmfsfj" src="/static/img/BMFSFJ.png" alt="BMFSFJ" />
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="https://www.demokratie-leben.de">
                            <img class="img-responsive logo-bmfsfj" src="/static/img/foerderzusatz.png" alt="Demokratie leben" />
                        </a>
                    </div>
                    <div class="col-lg-3">
                        <a href="https://bpb.de">
                            <img class="img-responsive logo-bmfsfj" src="/static/img/bpb.svg" alt="BPB" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron fond__grey meta-links-foot">
        <div class="container">
            <div class="row text-uppercase">
                <div class="col-lg-12">
                    <a href="/impressum">Impressum</a>
                    <a href="/presse">Presse</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="https://twitter.com/demokratielabs">Twitter, </a> 
                    <a href="https://instagram.com/demokratielabs">Instagram, </a>
                    <a href="https://facebook.com/demokratielabs">Facebook</a>
                </div>
            </div>
        </div>
    </div>
</footer>
