<div class="post-teaser-inner">
    <a href="https://handbuch.demokratielabore.de/" target="_blank">
        <img src="/workshops/teasers/handbuchteaser.png" class="img-responsive" />
    </a>
    <div class="post-teaser-content workshop">
        <h3 class="post-teaser-title" >Das Handbuch</h3>
        <div class="post-teaser-description workshop">
            <p>
                Hier findet ihr unser Handbuch mit allen Informationen zu den Workshops für Jugendliche.
            </p>
            <a class="post-teaser-read-more" href="https://handbuch.demokratielabore.de/" target="_blank">zum Handbuch</a>
        </div>
    </div>
</div>


