<div class="row">
    <div class="col-xs-12">
        <div class="mobile-menu-toggle"><span></span></div>
        <div class="nav-wrap gone">
            {% include navigation.html %}
        </div>
        <div class="navbar">
            <a href="/">
                <div class="logo">
                    <img class="img-responsive" src="/static/img/logo_bold.svg" width="120" alt="Demokratielabore">
                </div>
            </a>
        </div>
    </div>
</div>