<div class="post-teaser-inner idea">
    {% assign path = include.post.url %}
    <div class="post-teaser-content">
        <a class="post-teaser-read-more" href="{{ path }}">
            <h3 class="post-teaser-title" >{{ include.post.title }}</h3>
        </a>
        <div class="post-teaser-description workshop">
            <p>
                {{ include.post.teaser | remove: '<p>' | remove: '</p>'}}
            </p>
            {% if include.post.dauer %}
            <p>⏰ {{ site.data.materialsammlung.zeitbedarf[include.post.dauer] }}</p>
            {% endif %}
            <a class="post-teaser-read-more" href="{{ path }}">mehr...</a>
        </div>
    </div>
</div>


