<div class="post-teaser-inner">
  {% if post.images %}
  <a href="{{post.url}}">
    <div class="post-teaser-image" style="background-image: url(/assets/blog/{{ post.images[0].imgname }});"></div>
  </a>
  
  {% endif %}
  <div class="post-teaser-content">
    <span class="post-date">{{ post.date | date: "%d.%m.%y" }}</span>
      <a href="{{post.url}}"><h3 class="post-teaser-title" >{{ post.title }}</h3></a>
    <div class="post-teaser-description">
      <a class="post-teaser-read-more" href="{{post.url}}"></a>
    </div>
  </div>
</div>



