<div class="post-teaser-inner tool">
    {% assign path = include.post.url %}
    <div class="post-teaser-content">

        <div class="post-teaser-description workshop">
            <p>Tool</p>
            <a href="{{ path }}"><h3 class="post-teaser-title" >{{ include.post.title }}</h3></a>
            <p>
                {{ post.ws_teaser | remove: '<p>' | remove: '</p>'}}
                {{ include.post.teaser }}
            </p>
            <a href="{{ path }}">zum Tool</a>
        </div>
    </div>
</div>


