<div class="post-teaser-inner {{ site.data.unterthema-color[include.post.unterthema] }}">
    <a href="{{post.link}}">
        <img src="{{post.img}}" class="img-responsive" />
    </a>
    <div class="post-teaser-content thema">
        <h3 class="post-teaser-title" >{{ include.post.title }}</h3>
        <div class="post-teaser-description workshop">
            <p>
                {{ post.ws_teaser | remove: '<p>' | remove: '</p>'}}
                {{ include.post.content }}
            </p>
            {% assign path = include.post.url %}
            <a class="post-teaser-read-more" href="{{ path }}">zum Thema</a>
        </div>
    </div>
</div>


