---
layout: base
title: "Themen"
hide_hero: true
---
<div class="row">
    <div class="col-xs-12 fond__grey-bright jumbotron">
        <div class="row">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1 section-workshop">
                  <h2 class="section-headline">Aktiv werden und Demokratie mitgestalten</h2>
                    <p id="teaser-oer-page">
                        Wie schaffen wir es eine Gesellschaft zu entwickeln, die im Sinne der Gemeinschaft ist? Wir müssen aktiv werden. Hier findest du Materialien zu Themen, die ein gutes Miteinander beschreiben und Tools, mit denen wir das erreichen können. Wenn du direkt mit einem Projekt starten möchtest, dann findest du hier <a href="/materialsammlung/ideas/"> tolle Projektideen</a>.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1 filters">
                  {% include blog-filters.liquid %}
                </div>
            </div>
            <div class="container">
                <div class="isotope-wrap">
                    <div class="grid-sizer col-xs-12 col-md-6 col-lg-3"></div>
                    {% for p in site.pages %}
                      {% if p.layout == 'thema' or p.layout == 'tool' %}
                        {% if p.layout == 'thema' %}
                        <div class="col-xs-12 col-md-6 col-lg-6 isotope-item post-teaser thema">
                        {% else %}
                        <div class="col-xs-12 col-md-6 col-lg-3 isotope-item post-teaser tool">
                        {% endif |%}
                          {% if p.layout == 'thema' %}
                            {% include thema-teaser-tile.html post=p %}
                          {% else %}
                            {% include tool-teaser-tile.html post=p %}
                          {% endif %}
                        </div>
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
