.partner-container{
  max-width: 1024px;
}
.partner {

  ul {
  }

  img {
    width: 70%;
  }
}


.section-headline{
  font-size: 36px;
}

.jumbotron {
  padding: 70px;
  p, a {
    font-size: 18px;
    line-height: 1.5;
  }
}


/*==============================
=            Workshop            =
==============================*/

.btn-download{

  &:before{
    width: 52px;
    height: 42px;
    top: 10px;
  }
  span{
    padding-left: 25px;
  }
}



.stats{   
  p {
    font-size: 14px;
  }
}

.datenschutzhinweis {
  p{
    font-size: 14px;
    color: #8C9094;
    a{
      font-size: 14px;
      color: black;
    }
    a:hover{
      font-size: 14px;
      color: blue;
    }
  }
}