.partner-container{
  max-width: 1024px;
}
.partner {

  ul {
  }

  img {
    width: 70%;
  }
}

.section-headline{
  font-size: 36px;
}

.jumbotron {
  padding: 70px;
  p {
    font-size: 20px;
  }
}