/******************************************************************
Site Name: edulabs.de/oer
Author: Maximilian Voigt

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/

.section-sub-material-img{
    width: 0%;
}

.section-sub-material{
    text-align: center;
}


.stats{   
  p {
    font-size: 14px;
  }
  a{
    font-size: 14px;  
  }
}

.datenschutzhinweis {
  p{
    font-size: 14px;
    color: #8C9094;
    a{
      font-size: 14px;
      color: black;
    }
    a:hover{
      font-size: 14px;
      color: blue;
    }
  }
}