.mobile-menu-toggle {
  display: none;
}

.nav-meta {
  text-align: right;
}


.nav-wrap {
  top: 40px;
  right: 10px;
  z-index: 1001;
  width: auto;
  height: auto;
  padding: 0;
}

.page-wrap {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.mobile-menu-open .page-wrap {
  -webkit-transform: translateX(calc(-100% + #{$keep}));
          transform: translateX(calc(-100% + #{$keep}));
}


.main-nav-wrapper {

  .nav-pills>li {
    a {
    }
  }

    .nav-pills .current {
    display: block;
  }

}


.nav-pills>li {
  float: right;
}
#animation-wrapper {
  background: transparent;
}

.packery-item {
  width: 47.5%;
}

.members .member {
  min-width: 33%;
}





/* ENDE MENUE*/

.partner {
  img {
    width: 50%;
  }
}

.google-logo {
  max-width: 50%;
}

.event-description {
  float: left;
  max-width: 75%;
}

.event-date-cta-wrapper {
  float: right;
  margin: 0;
  max-width: 25%;
}

.post-title {
  float: left;
  width: 60%;
}

.post-meta {
  float:left;
  text-align: right;
}

.project-teaser-slim .image-crop {
  height: 245px;
  overflow: hidden;

  .project-image {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    height: auto;
  }
}

.project-labs-box {
  float: left;
  width: 60%;
  .m-r-2 { margin-right: 18px; }
  .icon-before:before { margin-right: 18px; }
}

.project-status-box {
  margin-top: 0;
  float: right;
  width: 40%;
  text-align: right;
}


.hero-overlay {

  padding: 0;
  text-align: left; 
  width: 100%;
  height: 100%;

  h1 {
    width: 80%;
    margin: -5.5em 0em 1em 1em;
    font-size: 22px;
    line-height: 26px;
    }

  h3 {
    font-family: $leaguespartan;
    width: 60%;
    margin: 1em 0em 0em 1.5em;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;

    }
  }

.sign-in-form {
  display: flex;
  flex-direction: row;


  ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 50px 0;
  }

  label {
      display: inline-block;
      /* margin-bottom: 5px; */
      font-weight: bold;
    }

  input {

    input[type="radio"], input[type="checkbox"] {
        margin: 4px 10px 0 0;
        margin-top: 1px \9;
        line-height: normal
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      padding: 0 10px;
  }

  ::-moz-placeholder { /* Firefox 19+ */
      padding: 0 10px;
  }

  :-ms-input-placeholder { /* IE 10+ */
      padding: 0 10px;
  }

  :-moz-placeholder { /* Firefox 18- */
      padding: 0 10px;
  }
 
}


.title {

p {
    margin-top: 30px;
    font-size: 22px;
    line-height: 1.5;
    padding-bottom: 60px;
  }
}


.format__point_one{
  width: 100%;
  z-index: 1;
}


.format__point_two{
  margin-top: 50px;
  width: 100%;
  z-index: 2;
}


.format__point_three{
  margin-top: 50px;
  width: 100%;
  z-index: 3;
}

.format__point_four{
  margin-top: 50px;
  width: 100%;
  z-index: 2;
}

.format__point_five{
  margin-top: 50px;
  width: 100%;
  z-index: 1;
}

.format__illustration-wrapper{
  text-align: right;

}

.format__illustration{
  height: 40%;
  text-align: right;
}

.format__statement{
  padding: 0 20px 20px 20px;

}


.members {
  line-height: 26px;
  font-size: 20px;
  text-align: center;

  .member {
    margin-bottom: 26px;
    min-width: 100%;
    display: block;
    float: center;

  }

  .member-avatar {
    margin: 60px auto 10px auto;
    width: 240px;
    height: 240px;
  }
}
