.nav-meta {
}

.logo {
  float: left;
  margin: 20px;
}


.main-nav-wrapper{

  display: inline-block;
  float: right;

  .nav-pills {
    text-align: left;
    li{
      display: inline-block;
      float: right;
    }
  }
}


#animation-wrapper {
  position: absolute;
  width: 40%;
  margin-top: 11%;
  padding: 0;

  h1 {
    font-size: 26px;
    margin: 0;
  }
}


.jumbotron {
  padding: 40px;
  p{
    font-size: 18px;
  }
}

.join__statement {
  padding: 30px 60px;
}

.meta-links-foot {
  padding-top: 35px;
  padding-bottom: 35px;
}

.highlight-hero {
  // margin-left: 10px;
}

.nav-meta {
  display: inherit;
}

.lab-map-home {
  height: 600px;
}

.lab-map-city {
  height: 400px;
}

.members .member {
  min-width: 50%;
}

.post {
  .event-wrapper {
    padding: 80px;
  }
}

.main-nav-wrapper {

  .nav-pills .current {
    border: 2px solid $purple;
    a{
      color: $black;
    }
  }
}

.container{
  &.wide{
    width: 100%;
  }
}

.partner-container{
  width: 100%;
}
.partner {

  ul {
  }

  li {
    float: left;
    display: block;
    width: 18%;
    margin-right: 2.5%;
    &:last-child {
      margin-right: 0;
    }
  }

  img {
    width: 100%;
    margin-bottom: 0;
  }

  .okfn-logo {
    max-width: 100%;
    padding-top: 20px
  }

}

.title {

  p {
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 60px;
  }
}

.format__point_one {
  width: 80%;
  z-index: 1;
}

.format__point_two {
  margin-top: 10%;
  margin-left: 20%;
  width: 80%;
}

.format__point_three {
  margin-top: 10%;
  width: 80%;
}

.format__point_four {
  margin-top: 10%;
  margin-left: 20%;
  width: 80%;
}

.format__point_five {
  margin-top: 10%;
  width: 80%;
}

.format__illustration-wrapper {
  text-align: right;
}

.format__statement {
  padding: 0 60px 40px 60px;

}

.format__statement {
  padding: 0 40px 40px 40px;

}

.footer {
  p {
    font-size: 20px;
  }
}

.title {
  p{
    font-size: 20px;

  }
}

.mobile-menu-toggle {
  display: none;
}

.nav-meta {
  text-align: right;
}

.nav-wrap {
  top: 40px;
  margin-right: 20px;
  float: right;
  z-index: 1001;
  width: auto;
  height: auto;
  padding: 0;
  background-color: transparent;
  position: relative;
  &.gone{
    transform: translateX(0%);
  }
}

.members-image-wrap {
  display: inline-block;
}
