/*********************
contentpage elements
*********************/
.content-element{
  display: block;
  width: 100%;

  &.img{
    width: 40%;
    margin-bottom: 20px !important;
      img{
        width: 100%;
        height: auto;
        display: block;

      }
  }

  &.infobox{
    @include teaser-shadow();

    background-color: $blue;
    color: $black;
    text-align: left;
    width: 40%;
    padding: 30px;
    padding-top: 8px;
    padding-bottom: 0px;

    .infobox-headline{
      font-weight: 700;
      margin-bottom: 15px;
    }

    .infobox-copy{
    a{
      text-decoration: underline;
    }
    }
    .infobox-headline, .infobox-copy{
      color: white;
      display: block;

    }
    ul{
        color: white;
        line-height: 1.5;
        padding-left: 20px;
    }
  }
    &.left{
      float: left;
      margin-top: 20px;
      margin-right: 40px;
      margin-left: 0px;
      margin-bottom: 45px;
    }
    &.right{
      float:right;
      margin-top: 20px;
      margin-right: 0px;
      margin-left: 40px;
      margin-bottom: 45px;
    }
    &.yes{
      border-style: dotted;
      border-color: $blue;
      background-color: white;
      .infobox-copy{
          color: black
      }
    }

}

.content-image-wrap{
  margin-bottom: 50px;
  img{
    width: 100%;
    height: auto;
    display: block;
  }
}


.caption{
  display: block;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 1rem;
  margin-top: 10px;

  a{
    text-decoration: underline;
    font-size: 1rem !important;
    color: black !important;
    background-color: $white !important;
  }
}

.videoiframe {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

.infobox-quote {

    background-color: transparent !important;
    box-shadow: none !important;
    text-align: left;
    width: 100%;
    padding: 20px;

    &.left{
    float: left;
    margin-top: 35px;
    margin-right: 40px;
    margin-left: 0px;
    margin-bottom: 20px;
    }
    &.right{
    float:right;
    margin-top: 35px;
    margin-right: 0px;
    margin-left: 40px;
    margin-bottom: 20px;
    }

    .content{
        font-size: 2.0rem;
        font-style: Italic;
        display: block;
        line-height: 1.5;
     }
}
