.parallax {
  /* The image used */
  background-image: url("/static/img/illustration_vorab_dl.png");
  /* Set a specific height */
  height: 75vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center 8em;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 360px) {
    .parallax {
        height: 65vh;
    }    
}

@media screen and (min-width: 768px) {
    .parallax {
      height: 480px;
      background-size: 55%;
    }
}

@media screen and (min-width: 1024px) {
  .parallax {
    height: 75vh;
  }
}

@media screen and (min-width: 1200px) {
  .parallax {
    height: 85vh;
  }
}

@media screen and (min-width: 1200px) {
  .parallax {
    height: 90vh;
  }
}

@media screen and (min-width: 1400px) {
  .parallax {
    background-size: 45%;
    height: 80vh;
  }
}

@media screen and (min-width: 1600px) {
  .parallax {
    height: 85vh;
  }
}
