.parallax {
  /* The image used */
  background-image: url("/static/img/illustration_vorab_dl.png");
  /* Set a specific height */
  height: 280px;
  margin-top: 120px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center 8em;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 360px) {
    .parallax {
        height: 305px;
    }    
}

@media screen and (min-width: 400px) {
    .parallax {
        height: 340px;
    }    
}

@media screen and (min-width: 460px) {
    .parallax {
        height: 380px;
    }    
}

@media screen and (min-width: 520px) {
    .parallax {
        height: 430px;
    }
}

@media screen and (min-width: 600px) {
    .parallax {
        height: 480px;
    }
}

@media screen and (min-width: 670px) {
    .parallax {
        height: 660px;
    }
}

@media screen and (min-width: 768px) {
    .parallax {
      height: 480px;
      background-size: 55%;
    }
}
