.post-teaser-wrap{

  width: 100%;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  color: black;

}

.post-teaser{
  &.thema {
    .post-teaser-inner{
      border-top: 3px solid #FF003F;
    }
  }

  &.tool {
    .post-teaser-inner{
      border-top: 3px solid #000EFF;
    }
  }
  &.idea {
    .post-teaser-inner{
      border-top: 3px solid #00f9ac;
    }
  }
  .post-teaser-inner{
    margin: 20px;
    @include dropshadow_tile();
    background-color: white;
    display: block;
    transition: 200ms;

    a{
      color: black;
      text-decoration: none;
    }

    &:hover{
      @include transition(box-shadow .25s ease);
      box-shadow: 0 0 35px 1px rgba(197, 197, 197, 0.7);
      color: black;
      text-decoration: none;

      //transform: scale(1.005);
    }

    &.black {
      .post-teaser-content.thema {
        border-top: 3px solid black;
      }
    }

    &.red {
      .post-teaser-content.thema {
        border-top: 3px solid #fe003e;
      }
    }
    &.darkred {
      .post-teaser-content.thema {
        border-top: 3px solid #d90034;
      }
    }
    &.orange {
      .post-teaser-content.thema {
        border-top: 3px solid #ec6f19;
      }
    }
    &.purple {
      .post-teaser-content.thema {
        border-top: 3px solid #9C1139;
      }
    }
    &.yellow {
      .post-teaser-content.thema {
        border-top: 3px solid #ffbe00;
      }
    }
    .post-teaser-image{
      height: 250px;
      background-size: cover;
      background-position: center;
    }
    .post-teaser-image-caption{
    }

    .post-date{
      color: $grey-dark;
      font-size: 14px;
      margin-top: -30px;
    }
    .post-teaser-content{
      padding: 5px 20px;
      text-align: left;

      .post-teaser-title{
        text-decoration: none;
        margin: 10px 0;
        font-size: 24px;
        font-weight: 600;
        }
        a{
          color: black;
          text-decoration: none;
        
        a:hover{
          color: black;
          text-decoration: none;
          }
      }

        .post-teaser-img{
          background-size: cover;
          min-width: 50%;
          float: left;
          position: absolute;
          top: 3px;
          left: 0;
          bottom:0;
          margin: 20px;
        }

      .post-teaser-txt{
        float: right;
        width: 50%;
        padding-left: 40px;
        a{
          color: black;
        }
        a:hover{
          color: black;
          text-decoration: none;
        }
      }

      .post-teaser-description{
        color: #4a5b6b;

        &.workshop{
          color: black;
          p{
            font-size: 16px;
            margin: 20px 0;
            font-weight: 500;
          }
          a{
            color: black;
            text-decoration: none;
            border-bottom: none;
          }
          a:hover{
            color: black;
            text-decoration: none;
            border-bottom: none;
          }
        }

        &.angebot{
          color: black;
          p{
            font-size: 16px;
            margin: 20px 0;
            &.ort{
                color: #0A00FF;
                font-weight: bold;
            }
          }
        }
        a{
          color: #0A00FF;
          font-size: 15px;
          font-weight: 600;
           &:hover{
            cursor: pointer;
            color: #000EFF;
          }

        }
      }
    }
    .post-teaser-read-more {
      a{
        color: black;
        font-size: 14px;
        text-decoration: none;
        border-bottom: none;
        &:hover {
          color: $mint;
          border-bottom: none;
        }
      }
    }
  }
}

.post-teaser-category{
  margin: 0;
  font-size: 0.8em;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .post-teaser {
    .post-teaser-inner {
      .post-teaser-content {
        padding: 27px;
        &.workshop{
          padding: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .post-teaser {
    padding: 0;
  }
}

.theme-picture{
  background-size: cover;
  min-width: 50%; 
  float: left; 
  position: absolute; 
  top: 0; 
  left: 0; 
  bottom:0; 
  margin: 20px;
}

.tool-picture{
  background-repeat: no-repeat;
  width: 70px;
  height: auto;
  float: right; 
  position: absolute; 
  top: 10px;
  right: 10px;
  bottom:0; 
  margin: 20px;
}
