.post-teaser-wrap{

  width: 100%;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;

  .post-teaser{
    .post-teaser-inner{
      margin: 20px;
      @include dropshadow_tile();

      .post-teaser-image{
        height: 250px;
        background-size: cover;
        background-position: center;
      }
      .post-teaser-image-caption{
      }
      .post-teaser-content{
        padding: 20px;
        .post-teaser-title{
          text-transform: none;
        }
        .post-teaser-meta{

        }
        .post-teaser-description{
          color: #4a5b6b;
          a{
            color: $dl-mint;
          }

        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .post-teaser-wrap {
    .post-teaser {
      .post-teaser-inner {
        .post-teaser-content {
          padding: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .post-teaser-wrap {
    .post-teaser {
      padding: 0;
    }
  }
}
