.post-teaser-wrap{

  width: 100%;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  color: black;

}

.post-teaser{
  .post-teaser-inner{
    margin: 20px;
    @include dropshadow_tile();
    background-color: white;
    display: block;

    .post-teaser-image{
      height: 250px;
      background-size: cover;
      background-position: center;
    }
    .post-teaser-image-caption{
    }
    .post-teaser-content{
      padding: 20px;
      text-align: left;

      .post-teaser-title{
        text-transform: none;
        margin: 10px 0;
        font-size: 24px;
      }
      .post-teaser-meta{

      }
      .post-teaser-description{
        color: #4a5b6b;

        &.workshop{
          color: black;
          p{
            font-size: 16px;
            margin: 20px 0;
          }

        }

        a{
          color: $dl-mint;
        }

      }
    }
  }
}

@media screen and (min-width: 768px) {
  .post-teaser {
    .post-teaser-inner {
      .post-teaser-content {
        padding: 40px;
        &.workshop{
          padding: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .post-teaser {
    padding: 0;
  }
}
