---
layout: base
title: "Blog"
hide_hero: true
---
<div class="row">
    <div class="col-xs-12 fond__white jumbotron">
        <div class="row">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1 section-workshop">
                    <h2 class="section-headline">Neues, News und Neuigkeiten</h2>
                </div>
            </div>
            <div class="container wide">
                <div class="isotope-wrap">
                    <div class="grid-sizer col-xs-12 col-md-6 col-lg-4"></div>
                    {% for post in paginator.posts %}
                    <div class="col-xs-12 col-md-6 col-lg-4 isotope-item post-teaser">
                        {% include post-teaser-tile.html post=post %}
                    </div>
                    {% endfor %}
                </div>

                <div class="blog-page-nav clearfix">
                    {% if paginator.previous_page_path %}
                    <a class="newer" href="{{ paginator.previous_page_path }}">Neuere Einträge</a>
                    {% endif %}

                    {% if paginator.next_page_path %}
                    <a class="older" href="{{ paginator.next_page_path }}">Ältere Einträge</a>
                    {% endif %}
                </div>

                <div class="text-center">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

    $('.blog-page-nav').css('display','none');

    $('.blog-main').infinitescroll({
        navSelector  : ".blog-page-nav",
        nextSelector : ".blog-page-nav .older",
        itemSelector : ".blog-main .blog-post-teaser",
        });
    });
</script>