---
layout: base
title: "Blog"
hide_hero: true
---
<div class="row">
    <div class="col-xs-12 fond__grey-mid jumbotron">
        <div class="row">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1 section-workshop">
                    <h2 class="section-headline">Neues, News und Neuigkeiten</h2>
                </div>
            </div>
            <div class="container wide">
                <div class="isotope-wrap">
                    <div class="grid-sizer col-xs-12 col-md-6 col-lg-4"></div>
                    {% for post in site.posts %}
                    <div class="col-xs-12 col-md-6 col-lg-4 isotope-item post-teaser">
                        {% include post-teaser-tile.html post=post %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="btn-wrap">
            <a href="/feed.xml" target="_blank" class="btn btn-start color-2">RSS Feed</a>
        </div>
    </div>
</div>


</div>