---
layout: base
title: "Ideen"
hide_hero: true
---

<div class="row">
    <div class="col-xs-12 fond__white jumbotron">
        <div class="row">
            <div class="container">
                <div class="col-lg-5 section-sub-material-img">
                    <img src="{{ page.img-subpage }}" id="sub-page-img">
                </div>
                <div class="col-lg-7 section-sub-material">
                    <a href="/materialsammlung"><p class="sub-material-arrow-back"><img src="/static/img/arrow.svg"> Zurück</p></a>

                    <h2 class="section-headline">{{ page.title }}</h2>
                    <p>
                        {{ content }}
                    </p>
                    <div class="filter-items green ideas col-xs-24 ">
                        <h4 class="filter-items-headline ideas">NACH TOOLS, THEMEN & ZEITBEDARF FILTERN:</h4>
                        <div class="filter-items-inner ">
                          <h2>Thema auswählen</h2>
                            <select multiple="multiple" data-placeholder=" " data-group="thema" class="selectFilter">
                            {% for p in site.pages %}
                            {% if p.layout == 'thema' %}
                            <option value="{{ p.thema }}">{{ p.title }}</option>
                            {% endif %}
                            {% endfor %}
                            </select>
                              <h2>Tool auswählen</h2>
                            <select multiple="multiple" data-placeholder=" "  data-group="tool" class="selectFilter">
                            {% for p in site.pages %}
                            {% if p.layout == 'tool' %}
                            <option value="{{ p.tool }}">{{ p.title }}</option>
                            {% endif %}
                            {% endfor %}
                            </select>
                            <h2>Dauer auswählen</h2>
                            <select multiple="multiple" data-placeholder=" "  data-group="time" class="selectFilter">
                              <option value="{{ 'dauer-1' }}">{{ site.data.materialsammlung.zeitbedarf['dauer-1'] }}</option>
                              <option value="{{ 'dauer-2' }}">{{ site.data.materialsammlung.zeitbedarf['dauer-2'] }}</option>
                              <option value="{{ 'dauer-3' }}">{{ site.data.materialsammlung.zeitbedarf['dauer-3'] }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="isotope-wrap">
                    <div class="grid-sizer col-xs-12 col-md-6 col-lg-4"></div>
                    {% for p in site.pages %}
                      {% if p.layout contains 'idee' %}
                        {% if p.dauer %}
                            {% assign dauer = p.dauer %}
                        {% endif %}
                        {% assign thema = '' %}
                        {% assign tool = '' %}
                          {% for pt in site.pages %}
                            {% if pt.layout == 'unterthema' %}
                                {% assign pa = p.themacontent | replace:' ','' | split:',' %}
                                {% if pa contains pt.themacontent %}
                                    {% assign thema =  thema | append: ' ' | append: pt.thema %}
                                {% endif %}
                            {% endif %}
                            {% if pt.layout == 'untertool' %}
                                {% assign pa = p.subtool | replace:' ','' | split:',' %}
                                {% if pa contains pt.subtool %}
                                    {% assign tool =  tool | append: ' ' | append: pt.tool %}
                                {% endif %}
                            {% endif %}
                          {% endfor %}
                          <div class="col-xs-12 col-md-6 col-lg-4 isotope-item post-teaser idea {{ thema }} {{ tool }} {{ dauer }}">
                              {% include idea-teaser-tile.html post=p %}
                          </div>
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
