---
layout: base
title: "Ideen"
hide_hero: true

---

<div class="row">
    <div class="col-xs-12 fond__white jumbotron">
        <div class="row">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="page-sub-material"><a href="javascript:history.back()"><p class="sub-material-arrow-back"><img src="/static/img/arrow.svg"> Zurück</p></a></div>
                    {% assign flag = false %}
                    {% for p in site.pages %}
                    {% if p.subtool contains page.subtool and p.layout contains 'idee' %}
                    {% assign flag = true %}
                    {% endif %}
                    {% endfor %}
                    {% if flag == true %}

                    <p>💡 Diese Projektidee ist ein Beispiel dafür, wie du ein Thema mit Hilfe eines Tools angehen kannst.<a href="#projektideen"> Mit der folgenden Idee setzt du diese Themen und Tools um.</a></p>
                    <hr>
                    {% endif %}
                    <h1 class="section-headline">{{ page.title }}</h1>
                    <p>
                      {{ content }}
                    </p>
                    <hr>
                    <h2 id="projektideen">Folgende Themen und Tools sind mit dieser Idee verbunden</h2>
                </div>
            </div>
            <div class="container">
                <div class="isotope-wrap">
                    <div class="grid-sizer col-xs-12 col-md-6 col-lg-4"></div>
                    {% for p in site.pages %}
                    {% if p.layout contains 'unterthema' or p.layout == 'untertool' %}
                    {% if p.layout contains 'unterthema' and page.themacontent contains p.themacontent %}
                    <div class="col-xs-12 col-md-6 col-lg-4 isotope-item post-teaser">
                        {% include unter-thema-teaser-tile.html post=p %}
                    </div>
                    {% endif %}
                    {% if p.layout contains 'untertool' and page.subtool contains p.subtool  %}
                    <div class="col-xs-12 col-md-6 col-lg-4 isotope-item post-teaser tool">
                        {% include tool-teaser-tile.html post=p %}
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
