---
layout: base
title: "Themen"
hide_hero: true

---

{% for p in site.pages %}
  {% if p.thema == page.thema and p.type == "theme" %}
    {% assign thema = p %}
  {% endif %}
{% endfor %}

<div class="row">
    <div class="col-xs-12 fond__white jumbotron">
        <div class="row">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                  <a href="{{ thema.url }}"><h3>{{ thema.title }}</h3></a>
                  <h2 class="section-headline">{{ page.title }}</h2>
                    <p>
                      {{ content }}
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="isotope-wrap">
                    <div class="grid-sizer col-xs-12 col-md-6 col-lg-4"></div>
                    {% for p in site.pages %}
                    {% if p.themacontent contains page.themacontent and p.layout contains 'idea' %}
                        <div class="col-xs-12 col-md-6 col-lg-4 isotope-item post-teaser">
                            {% include idea-teaser-tile.html post=p %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
