---
layout: base
title: "Tools"
hide_hero: true

---

<div class="row">
    <div class="col-xs-12 fond__white jumbotron">
        <div class="row">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="page-sub-material"><a href="javascript:history.back()"><p class="sub-material-arrow-back"><img src="/static/img/arrow.svg"> Zurück</p></a></div>
                    <h1 class="section-headline">{{ page.title }}</h1>
                    <p>
                      {{ content }}
                    </p>
                    {% assign flag = false %}
                    {% for p in site.pages %}
                    {% if p.subtool contains page.subtool and p.layout contains 'idea' %}
                        {% assign flag = true %}
                    {% endif %}
                    {% endfor %}
                    {% if flag == true %}
                        <h2>Ideen</h2>
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <div class="isotope-wrap">
                    <div class="grid-sizer col-xs-12 col-md-6 col-lg-4"></div>
                    {% for p in site.pages %}
                    {% if p.subtool contains page.subtool and p.layout contains 'idea' %}
                        <div class="col-xs-12 col-md-6 col-lg-4 isotope-item post-teaser">
                            {% include idea-teaser-tile.html post=p %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
